/* Custom Scrollbar Styling (Only for Webkit browsers like Chrome & Safari) */
.category-container::-webkit-scrollbar {
  height: 8px; /* Height of the scrollbar */
}

.category-container::-webkit-scrollbar-track {
  background: #f0f0f0; /* Track color */
  border-radius: 10px;
}

.category-container::-webkit-scrollbar-thumb {
  background-color: #aa5607; /* Scrollbar ka color */
  border-radius: 10px;
  border: 1px solid #f0f0f0; /* Color of the border on the scrollbar */
}

.category-container::-webkit-scrollbar-thumb:hover {
  background-color: #884406; /* Scrollbar ka color on hover */
}

/* Flexbox container for centering the buttons */
.category-bar-center {
  justify-content: center;
}